.top-bar {
	background:$brand-primary;
	color:#fff;
	line-height:1.2;
	.header-content {
		display:flex;
		justify-content:space-between;
		max-width:$site-max-width;
		margin:0 auto;
		padding:$space;
		h1 {
			margin:0;
		}
		.link-text {
			background:transparent;
			color:#fff;
			padding:0;
			margin:0;
			text-decoration:underline;
		}
	}
}